*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  margin: 0;
  padding: 0;
  background: url("bg.jpeg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic' sans-serif;
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p {
  text-align: justify;
}
ul {
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
}
/* End of about me original */
/* footer stijl.css */
footer {
  left: 0;
  bottom: 0;
  position: absolute;
  height: 100px;
  width: 100%;
}
.Footer{
width: 100%;
margin: auto;
height: auto;
background: #272727;
padding: 20px 0px;
position: fixed;
bottom: 0;

}
.Footer-icons{
  width: 100%;
  height: auto;
  margin:auto;
}
.Footer-icons ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.Footer-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: crimson;
}
.Footer-icons ul li a{
  color: #272727;
  font-size: 25px;
  display: block;
}
.Footer-icons ul li a i{
 line-height: 50px;
}
.footer-menu {
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-menu ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-menu ul li{
  display: inline-block;
  margin: 0px 15px;
}
.footer-menu ul li a{
  font-family: arial;
  font-size: 15px;
  font-weight: 600;
  color #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-bottem {
  width: 100%;
  height: 90%;
  margin: auto;
  background: crimson;
  padding: 1px;
  box-sizing: border-box;
}
.footer-bottem p{
  font-family: arial;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.footer-bottem p a{
  color: #fff;

}
/*nav */
.container {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
}

nav {
  width: 100%;
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-left: 2em;
  padding-right: 4em;
  box-sizing: border-box;
}

.brand {
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
}

.brand span {
  color: crimson;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: .5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {}

  to {
    transform: translateX(0);
  }
}
